body {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Outfit", sans-serif;
}
.conteiner {
  width: 1000px;
  margin-inline: auto;
}

.logo {
  font-size: 4rem;
}
h1 {
  font-size: 5rem;
}

h3 {
  color: #c2128d;
}

ul {
  padding: 0;
}

.wait-button-color {
  background-color: #23294f;
  font-size: 16px;
  border-radius: 50px;
  border: 4px solid;
  border: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.answer-button-color {
  background: linear-gradient(
    180deg,
    rgba(210, 0, 148, 1) 21%,
    rgba(144, 0, 128, 1) 100%
  );
  font-size: 16px;
  border-radius: 50px;
  border: 4px solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-image-slice: 1;
}

.rate-us-button {
}

.accent-color {
  color: #00ffff;
  font-size: 60px;
}

.proced-button {
  background-color: #00ffff;
  border: none;
  -webkit-box-shadow: 0px 0px 23px 15px rgba(0, 255, 255, 0.44);
  box-shadow: 0px 0px 23px 15px rgba(0, 255, 255, 0.44);

  font-size: 2rem;
  padding: 1rem 3.5rem;
  font-weight: bold;
}
.rate-us-button {
  border: 3px solid white;
  background: #ffffff00;
  color: white;
  font-size: 2rem;
}
